table{
    width: 50%;
    min-width: 300px;
    margin: auto;
    margin-top: 50px;
    border-bottom: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    border-top: 1px solid black;
}
td{
    padding: 5px;
}
tr.impar {
    background-color: rgb(240, 248, 255);
  }
.esquerda{
    text-align: left;
}
